<h2>Stupid Coaching</h2>
<div class="card bg-success text-white">
  <p><b><%= @question %></b></p>
  <p><i>You</i></p>
</div>
<div class="card bg-light text-black">
  <p><b><%= @answer %></b></p>
  <p><i>Your coach</i></p>
</div>

<p>Find me in app/views/questions/answer.html.erb</p>

<%= link_to 'Ask a new question', '/ask' %>
