<h2>Stupid Coaching</h2>
<div class="card question">
  <p><%= @question %></p>
  <p>You</p>
</div>
<div class="card answer">
  <p><%= @answer %></p>
  <p>Your coach</p>
</div>

<p>Find me in app/views/questions/answer.html.erb</p>

<%= link_to 'Ask a new question', '/ask' %>
